#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TodoNote {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  border-radius: 10px;
  border: solid black;
  margin: 3px;
}

.TodoNote p {
  width: 50%;
  max-height: 100px;
}

.x-button {
  margin: 1rem;
  border-radius: 3px;
}
