.paragraphDiv {
    background-color: yellow;
}

#hate {
    color: red;
}

img {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: blue;
    width: 50%;
    height: 50%;
}

li:nth-child(odd) {
    color: purple;
}

/* exercise 4: flexbox */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex div {
    width: 20%;
}

/* exercise 5: grid */
.flex2 {
    display: grid;
}

.flex2 {
    border: 2px solid orangered;
    grid-template-columns: 2fr 1fr 1fr;
    border-radius: 5px;
    background-color: beige;
}

.flex2 div {

    border: 2px solid rgb(216, 115, 47);
    background-color: rgb(223, 186, 117);
    color: red;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}