#socialMediaInside {
    /* padding: 8px; */

    border: 8px dashed #a529b3;
    background-clip: content-box;
    background-color: #7b2453;
}

.title {
    color: #e315f6;
    text-shadow: 2px 2px white;
    padding-bottom: 2rem;
    text-align: center;
}

#socialMediaInside a {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}