.buttonBackground {
  width: 100px;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
  align-items: center;
}

.bingoMessage {
  text-align: center;
}

#root {
  text-align: center;
}