body {
    background-color: #505665;
    color: #f8faf6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    border: 2px solid rgb(154, 230, 68);
    border-radius: 10px;
    margin: 1%;
    padding: 20px;
    background-color: rgb(207, 225, 241);
    color: #505665;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#difCar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}