.container {
    display: flex;
    padding-top: 1px;
    justify-content: space-between;

}

.container div {
    border: 1px solid gray;
}

#inside {
    background-color: lightgreen;
    padding-bottom: 12%;
    padding-right: 7%;
    margin-left: 4rem;
    margin-right: 4rem;

}

.container2 {
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
}


.container2 div {

    border: 1px solid gray;
    padding-bottom: 5em;
    background-color: red;
    border: 1px solid black;

}

#redinside {

    flex-grow: 1;
    padding-bottom: 5em;
}

#redinside2 {
    flex-grow: 3.5;
}

.main {
    border: 1px solid gray;
    padding-bottom: 30%;
    border-radius: 2px;
}