.container {
    display: grid;
}

.container {
    grid-template-columns: 1fr 1fr 1fr;

}

.container div {
    background-color: red;
    padding-bottom: 100px;
    border: 1px solid black;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container2 div {
    background-color: greenyellow;
    border: 1px solid gray;
    padding-bottom: 100px;
}

.main {
    border: 1px solid lightgray;
    padding: 2px;
}

#one {
    grid-column-end: span 3;
}

#two {
    padding-bottom: 275px;
    grid-row-end: span 3;
}