P {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #f4858e;
}

h1 {
    color: #00688b;
    font-family:Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

.blue {
    color: blue;
}

#purple {
    color: purple;
}
div {
    width: 200px;
    height: 250px;
    background-color: darkgray;
    padding-left: 1%;
    border-radius: 30px;
    
}
body {
    text-align: center;
}